trigger:
- main

pool:
  name: agentPoolPucMinas
  demands:
    - Agent.Name -equals mac-agent-pucminas-01

variables:
  location: 'brazilsouth'
  resourceGroupName: 'rg-iac-web-iis'
  vmName: 'vm-iac-web-iis'
  templateFile: 'vm-iis-template.json'
  parametersFile: 'vm-iis-parameters.json'
  indexUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/index.html'
  scriptUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/scripts/site.ps1'

stages:
- stage: DeployInfra
  displayName: 'Provisionar Infraestrutura'
  jobs:
  - job: Deploy
    displayName: 'Criar RG e recursos ARM'
    steps:
    - task: AzureCLI@2
      displayName: 'Criar Resource Group'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az group create --name "$(resourceGroupName)" --location "$(location)"

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM Template'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: 'arm-templates/vm-iis-template.json'
        csmParametersFile: 'arm-templates/vm-iis-parameters.json'
        deploymentMode: 'Incremental'
        deploymentName: 'vm-iis-deployment'

- stage: ConfigureWebsite
  displayName: 'Publicar site no IIS'
  dependsOn: DeployInfra
  jobs:
  - job: PublishHTML
    displayName: 'Executar CustomScriptExtension para copiar index.html'
    steps:
    - task: AzureCLI@2
      displayName: 'Executar CustomScriptExtension'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          cat <<EOF > customScriptSettings.json
          {
            "fileUris": [
              "$(scriptUrl)"
            ],
            "commandToExecute": "powershell -ExecutionPolicy Bypass -File site.ps1"
          }
          EOF

          az vm extension set \
            --resource-group "$(resourceGroupName)" \
            --vm-name "$(vmName)" \
            --name CustomScriptExtension \
            --publisher Microsoft.Compute \
            --settings customScriptSettings.json