trigger:
- main

pool:
  name: 'agentPoolPucMinas'

variables:
  desiredLocation: 'eastus2'
  resourceGroupName: 'rg-iac-web-iis-eastus2'
  vmName: 'vm-iac-web-iis'
  scriptUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/scripts/site.ps1'

stages:
# ======================================================
# Stage 1: Provisionamento de Infraestrutura
# ======================================================
- stage: DeployInfra
  displayName: 'Provisionar Infraestrutura'
  jobs:
  - job: Deploy
    displayName: 'Criar RG e recursos ARM'
    steps:
    - checkout: self
      fetchDepth: 1

    - task: AzureCLI@2
      displayName: 'Garantir RG em eastus2'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          RG="$(resourceGroupName)"
          LOC="$(desiredLocation)"

          if az group exists -n "$RG" | grep -q true; then
            ACTUAL=$(az group show -n "$RG" --query location -o tsv)
            echo "RG existe em: $ACTUAL"
          else
            echo "Criando RG '$RG' em '$LOC'"
            az group create -n "$RG" -l "$LOC" -o none
            ACTUAL="$LOC"
          fi

          if [ "$ACTUAL" != "$LOC" ]; then
            echo "ERRO: RG em '$ACTUAL'. A policy exige '$LOC'."
            exit 1
          fi

          echo "##vso[task.setvariable variable=effectiveLocation]$ACTUAL"

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Implantar Modelo ARM'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(effectiveLocation)'
        templateLocation: 'Linked artifact'
        csmFile: 'arm-templates/vm-iis-template.json'
        csmParametersFile: 'arm-templates/vm-iis-parameters.json'
        deploymentMode: 'Incremental'
        deploymentName: 'vm-iis-deployment'

# ======================================================
# Stage 2: Configurar IIS
# ======================================================
- stage: ConfigureWebsite
  displayName: 'Publicar site no IIS'
  dependsOn: DeployInfra
  condition: succeeded()
  jobs:
  - job: PublishHTML
    displayName: 'Custom Script Extension'
    steps:
    - checkout: self
      fetchDepth: 1

    - task: AzureCLI@2
      displayName: 'Executar CustomScriptExtension'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          cat <<EOF > customScriptSettings.json
          {
            "fileUris": [
              "$(scriptUrl)"
            ],
            "commandToExecute": "powershell -ExecutionPolicy Bypass -File site.ps1"
          }
          EOF

          az vm extension set \
            --resource-group "$(resourceGroupName)" \
            --vm-name "$(vmName)" \
            --name CustomScriptExtension \
            --publisher Microsoft.Compute \
            --settings customScriptSettings.json